<div class="container">

  <h2>Registro de Ingreso</h2>

  <div class="form">
    <select [(ngModel)]="vehiculoSeleccionado">
      <option value="">Seleccione vehículo</option>
      <option *ngFor="let v of vehiculos" [value]="v.placa">
        {{ v.placa }} - {{ v.tipo }}
      </option>
    </select>

    <button (click)="registrarIngreso()">Registrar</button>
  </div>

  <div class="tabla-contenedor">
    <table class="tabla-vehiculos">
      <thead>
        <tr>
          <th>Placa</th>
          <th>Fecha / Hora de Ingreso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of ingresos">
          <td class="placa-texto">{{ i.placa }}</td>
          <td>{{ i.horaIngreso | date:"d 'de' MMMM, h:mm a" }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="ingresos.length === 0" class="mensaje-vacio">
      No hay ingresos registrados actualmente.
    </div>
  </div>

</div>